/*BASE NEWSWORKS COLOR VARIABLES*/
	$nw-prim-yel: #FDB913;
	$nw-sec-yel: #FAA634;
	$headline-link-color: #385074;
	$inline-link-color: #6b8cbd;
	$gray-block: #565559;
	$text-color: #565559;
	$blue-block: #7A8494;
	$blue-block-link: #6dbdfe;
	$very-light-grey: #e5e5e5;
	$lightest-grey: #F7F7F7;
	$dark-blue: #385074;
	$dark-blue-transparent: rgba(56, 80, 116, .8);




/*POPE VARIABLES*/
     $pope-color: #AD1F24;
     $pope-color-gray: #b27a77;
     $pope-color-transparent: rgba(173, 31, 36, .45);
     $pope-color-transition: rgba(173, 31, 36, .65);
     $pope-color-bright: #cd2029;
     $pope-color-vibrant: #E3282F;
     $over-pope-color: #fff;
     $pope-color-dark: #872024;
     $dark-grey: #565559;
     $light-grey: #aaa;
     $pope-color-vibe-trans: rgba(227, 43, 48, .65);


/*KEYSTONE CROSSROADS VARIABLES*/
	$kc-main-color: #9db838;
	$kc-color-old: #B0BF5A;
	$kc-gray: #919c70;
	$kc-transp-45: rgba(140, 163, 45, .45);
	$kc-transp-65: rgba(140, 163, 45, .65);
	$kc-vibrant: #b2d237;
	$kc-dark: #5a6f11;
	$kc-shade: #8ba23b;
	$kc-blue: #346d9f;
	$kc-light: #e4e7e7;
	$kc-med-gray: #afbfbf;
	$kc-med-dark-gray: #7c8f94;
	$kc-dark-gray: #5b6d6f;
	$kc-orange: #e7902b;
	$kc-bright: #acc835;
	$kc-white-transp: rgba(255, 255, 255, .75);
	$kc-white-transp-plus: rgba(255, 255, 255, .85);
	$kc-dark-transp: rgba(30, 36, 36, .65);
	$kc-dark-transp-plus: rgba(30, 36, 36, .75);


/*TYPE VARIABLES*/
//$sm-text: .9em;
//$md-text: .8em;
//$lg-text: 1.2em;