/*BASE NEWSWORKS COLOR VARIABLES*/
/*POPE VARIABLES*/
/*KEYSTONE CROSSROADS VARIABLES*/
/*TYPE VARIABLES*/
/*MEDIA QUERY MIXINS*/
@media (min-width: 992px) {
  .pull-right-md {
    float: right; } }

body {
  /*END BODY.KEYSTONE-CROSSROADS*/ }
  body.keystone-crossroads {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased; }
    body.keystone-crossroads a:hover, body.keystone-crossroads a:active, body.keystone-crossroads a:focus, body.keystone-crossroads a:visited {
      text-decoration: none; }
    body.keystone-crossroads .no-padd {
      padding: 0; }
    body.keystone-crossroads #toggle-button {
      background-color: #9db838; }
    body.keystone-crossroads .logo-holder a.icon-keystonecrossroads.kc-cat-logo {
      font-size: 2.5rem;
      color: #fff; }
      body.keystone-crossroads .logo-holder a.icon-keystonecrossroads.kc-cat-logo:hover, body.keystone-crossroads .logo-holder a.icon-keystonecrossroads.kc-cat-logo:active, body.keystone-crossroads .logo-holder a.icon-keystonecrossroads.kc-cat-logo:focus {
        text-decoration: none;
        color: #b3b3b3; }
    body.keystone-crossroads .kc-social-icons-header, body.keystone-crossroads .kc-social-icons-footer {
      margin-top: 0;
      text-align: right; }
      body.keystone-crossroads .kc-social-icons-header a, body.keystone-crossroads .kc-social-icons-footer a {
        color: #fff;
        margin-right: 1rem;
        font-size: 1rem; }
        body.keystone-crossroads .kc-social-icons-header a:hover, body.keystone-crossroads .kc-social-icons-footer a:hover, body.keystone-crossroads .kc-social-icons-header a:active, body.keystone-crossroads .kc-social-icons-footer a:active {
          color: #9db838; }
          body.keystone-crossroads .kc-social-icons-header a:hover:hover, body.keystone-crossroads .kc-social-icons-footer a:hover:hover, body.keystone-crossroads .kc-social-icons-header a:active:hover, body.keystone-crossroads .kc-social-icons-footer a:active:hover {
            color: #acc835; }
          body.keystone-crossroads .kc-social-icons-header a:hover:active, body.keystone-crossroads .kc-social-icons-footer a:hover:active, body.keystone-crossroads .kc-social-icons-header a:active:active, body.keystone-crossroads .kc-social-icons-footer a:active:active {
            color: #b2d237; }
          body.keystone-crossroads .kc-social-icons-header a:hover a, body.keystone-crossroads .kc-social-icons-footer a:hover a, body.keystone-crossroads .kc-social-icons-header a:active a, body.keystone-crossroads .kc-social-icons-footer a:active a {
            color: #9db838;
            -webkit-transition: color 0.15s ease-out;
            -moz-transition: color 0.15s ease-out;
            -o-transition: color 0.15s ease-out;
            transition: color 0.15s ease-out; }
            body.keystone-crossroads .kc-social-icons-header a:hover a:hover, body.keystone-crossroads .kc-social-icons-footer a:hover a:hover, body.keystone-crossroads .kc-social-icons-header a:active a:hover, body.keystone-crossroads .kc-social-icons-footer a:active a:hover {
              color: #acc835; }
            body.keystone-crossroads .kc-social-icons-header a:hover a:active, body.keystone-crossroads .kc-social-icons-footer a:hover a:active, body.keystone-crossroads .kc-social-icons-header a:active a:active, body.keystone-crossroads .kc-social-icons-footer a:active a:active {
              color: #b2d237; }
        @media (min-width: 568px) {
          body.keystone-crossroads .kc-social-icons-header a, body.keystone-crossroads .kc-social-icons-footer a {
            font-size: 1.5rem; } }
        @media (min-width: 768px) {
          body.keystone-crossroads .kc-social-icons-header a, body.keystone-crossroads .kc-social-icons-footer a {
            font-size: 2rem;
            margin-right: 2rem; } }
    body.keystone-crossroads .kc-social-icons-footer {
      margin-top: 2rem; }
    body.keystone-crossroads #sub-nav-bar {
      padding-top: 1.2rem;
      color: #5b6d6f;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: .1em;
      cursor: pointer;
      background-color: white;
      display: none;
      height: auto;
      position: fixed; }
      @media (min-width: 992px) {
        body.keystone-crossroads #sub-nav-bar {
          display: block;
          padding-bottom: 2rem; }
          body.keystone-crossroads #sub-nav-bar .dropdown:hover .dropdown-menu {
            display: block; }
          body.keystone-crossroads #sub-nav-bar a {
            color: #000; }
          body.keystone-crossroads #sub-nav-bar .sub-nav-left, body.keystone-crossroads #sub-nav-bar .sub-nav-right {
            margin-left: 0;
            padding-left: 0;
            padding-right: 0;
            text-align: left; }
            body.keystone-crossroads #sub-nav-bar .sub-nav-left ul, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul {
              margin-left: 0;
              padding-left: 0;
              text-align: center;
              font-size: 0.55rem; }
              body.keystone-crossroads #sub-nav-bar .sub-nav-left ul li, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul li {
                margin-right: 1rem;
                display: inline-block;
                text-align: center;
                width: 20%; }
                body.keystone-crossroads #sub-nav-bar .sub-nav-left ul li:last-of-type, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul li:last-of-type {
                  margin-right: 0; }
                body.keystone-crossroads #sub-nav-bar .sub-nav-left ul li:hover, body.keystone-crossroads #sub-nav-bar .sub-nav-left ul li:active, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul li:hover, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul li:active {
                  border-bottom: 4px solid #afbe58; } }
        @media (min-width: 992px) and (min-width: 1200px) {
          body.keystone-crossroads #sub-nav-bar .sub-nav-left ul li, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul li {
            width: 22%; } }
      @media (min-width: 992px) {
                body.keystone-crossroads #sub-nav-bar .sub-nav-left ul li .dropdown-menu, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul li .dropdown-menu {
                  border: none;
                  background-color: rgba(255, 255, 255, 0.85);
                  padding-left: 0;
                  left: 50%;
                  right: auto;
                  text-align: center;
                  transform: translate(-50%, 0); }
                  body.keystone-crossroads #sub-nav-bar .sub-nav-left ul li .dropdown-menu li, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul li .dropdown-menu li {
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 0.5rem;
                    background-color: #afbe58;
                    width: 100%; }
                    body.keystone-crossroads #sub-nav-bar .sub-nav-left ul li .dropdown-menu li:hover, body.keystone-crossroads #sub-nav-bar .sub-nav-left ul li .dropdown-menu li:active, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul li .dropdown-menu li:hover, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul li .dropdown-menu li:active {
                      background-color: rgba(255, 255, 255, 0.75); }
                    body.keystone-crossroads #sub-nav-bar .sub-nav-left ul li .dropdown-menu li a, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul li .dropdown-menu li a {
                      color: #fff;
                      font-size: .6rem;
                      font-weight: bold; }
                      body.keystone-crossroads #sub-nav-bar .sub-nav-left ul li .dropdown-menu li a:hover, body.keystone-crossroads #sub-nav-bar .sub-nav-left ul li .dropdown-menu li a:active, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul li .dropdown-menu li a:hover, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul li .dropdown-menu li a:active {
                        color: #000; } }
              @media (min-width: 992px) and (min-width: 1200px) {
                body.keystone-crossroads #sub-nav-bar .sub-nav-left ul li .dropdown-menu li a, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul li .dropdown-menu li a {
                  font-size: .75rem; } }
      @media (min-width: 992px) and (min-width: 1200px) {
        body.keystone-crossroads #sub-nav-bar .sub-nav-left ul, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul {
          text-align: left; } }
    @media (min-width: 992px) and (min-width: 1200px) {
      body.keystone-crossroads #sub-nav-bar .sub-nav-left ul, body.keystone-crossroads #sub-nav-bar .sub-nav-right ul {
        font-size: .7rem;
        padding-left: 15px; } }

    body.keystone-crossroads .top-feature {
      display: block;
      margin-top: 5rem; }
      @media (min-width: 992px) {
        body.keystone-crossroads .top-feature {
          margin-top: 140px; } }
      body.keystone-crossroads .top-feature .photo-box {
        position: relative;
        margin-bottom: 1rem; }
      body.keystone-crossroads .top-feature .text-box {
        color: #fff;
        background-color: rgba(30, 36, 36, 0.65);
        padding: 1rem;
        position: absolute;
        width: 100%;
        top: 0;
        -webkit-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out; }
        body.keystone-crossroads .top-feature .text-box:hover {
          background-color: rgba(30, 36, 36, 0.75); }
        body.keystone-crossroads .top-feature .text-box h4, body.keystone-crossroads .top-feature .text-box p {
          display: none; }
        body.keystone-crossroads .top-feature .text-box h2 {
          font-size: 1.25rem; }
        @media (min-width: 768px) {
          body.keystone-crossroads .top-feature .text-box h4 {
            font-size: .8rem;
            margin-bottom: .5rem;
            display: none; }
          body.keystone-crossroads .top-feature .text-box h2 {
            margin-bottom: .75rem;
            font-size: 2rem;
            text-align: left;
            padding-left: 4%;
            padding-right: 4%; }
          body.keystone-crossroads .top-feature .text-box p {
            display: none;
            padding-left: 4%;
            padding-right: 4%; }
          body.keystone-crossroads .top-feature .text-box p:last-of-type {
            margin: 0; }
          body.keystone-crossroads .top-feature .text-box a {
            color: #fff; }
          body.keystone-crossroads .top-feature .text-box:hover h4, body.keystone-crossroads .top-feature .text-box:hover p {
            display: inherit; } }
    body.keystone-crossroads .latest {
      margin-top: 1rem;
      padding-left: 15px;
      padding-right: 15px; }
      body.keystone-crossroads .latest .latest-news-heading {
        padding: 0.5rem;
        margin-bottom: 0;
        background-color: #afbe58;
        display: inline-block; }
        body.keystone-crossroads .latest .latest-news-heading h4 {
          font-size: 1.5rem;
          font-weight: bold;
          display: inline-block;
          color: #fff; }
      body.keystone-crossroads .latest .glyphicon {
        display: none; }
        @media (min-width: 992px) {
          body.keystone-crossroads .latest .glyphicon {
            display: inline-block;
            padding-top: .5rem;
            font-size: 2rem;
            padding-left: 0;
            padding-right: 0; } }
      body.keystone-crossroads .latest .latest-slider {
        display: inline-block;
        margin-right: 0;
        padding-right: 0; }
        body.keystone-crossroads .latest .latest-slider .latest-article-group {
          white-space: nowrap;
          display: inline-block;
          width: 100%;
          height: auto; }
          @media (min-width: 992px) {
            body.keystone-crossroads .latest .latest-slider .latest-article-group {
              overflow: hidden; } }
          body.keystone-crossroads .latest .latest-slider .latest-article-group .latest-article-item {
            padding-top: 0.5rem;
            padding-right: 0.5rem;
            padding-bottom: 0;
            padding-left: 0.5rem;
            float: none;
            display: inline-block;
            border-right: 1px solid black;
            width: 100%;
            height: auto;
            /*@include desktop {
            	overflow: hidden;
            }
            */ }
            body.keystone-crossroads .latest .latest-slider .latest-article-group .latest-article-item a {
              width: 100%; }
              body.keystone-crossroads .latest .latest-slider .latest-article-group .latest-article-item a h4 {
                font-size: .7rem;
                margin-bottom: .1em;
                letter-spacing: .05em;
                color: #4D4D4D; }
              body.keystone-crossroads .latest .latest-slider .latest-article-group .latest-article-item a h2 {
                font-size: 1rem;
                line-height: 1.25em;
                color: #000;
                display: inline-block;
                width: 100%; }
        body.keystone-crossroads .latest .latest-slider .ec-arrow-right {
          display: none;
          height: 0; }
          @media (min-width: 992px) {
            body.keystone-crossroads .latest .latest-slider .ec-arrow-right {
              display: inline-block;
              height: auto;
              text-align: right; } }
        body.keystone-crossroads .latest .latest-slider .ec-arrow-left {
          display: none;
          height: 0; }
          @media (min-width: 992px) {
            body.keystone-crossroads .latest .latest-slider .ec-arrow-left {
              display: inline-block;
              height: auto;
              text-align: left; } }
    body.keystone-crossroads .secondary-feature {
      margin-top: 2rem; }
      body.keystone-crossroads .secondary-feature .photo-box {
        position: relative;
        margin-bottom: 1.8rem; }
      body.keystone-crossroads .secondary-feature .text-box {
        color: #fff;
        background-color: rgba(30, 36, 36, 0.65);
        padding: 1rem;
        position: absolute;
        width: 100%;
        top: 0;
        -webkit-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out; }
        body.keystone-crossroads .secondary-feature .text-box:hover {
          background-color: rgba(30, 36, 36, 0.75); }
        body.keystone-crossroads .secondary-feature .text-box h2 {
          margin-bottom: .5rem;
          font-size: 1.25rem; }
        body.keystone-crossroads .secondary-feature .text-box a {
          color: #fff; }
    body.keystone-crossroads .more-features {
      background-color: #969696;
      margin-bottom: 2.5rem;
      padding-top: 1rem;
      padding-bottom: .75rem;
      text-align: center; }
      body.keystone-crossroads .more-features .more-features-button {
        display: inline-block; }
        body.keystone-crossroads .more-features .more-features-button a {
          text-align: center;
          color: #fff;
          display: inline-block; }
          body.keystone-crossroads .more-features .more-features-button a .glyphicon {
            font-size: 1.3rem;
            margin-left: -5px;
            margin-right: -5px;
            font-size: 1.3rem; }
            @media (min-width: 568px) {
              body.keystone-crossroads .more-features .more-features-button a .glyphicon {
                margin-left: 0;
                margin-right: 0px;
                font-size: 1.5rem; } }
          body.keystone-crossroads .more-features .more-features-button a h2 {
            font-size: 1.25rem;
            display: inline-block;
            vertical-align: super;
            padding-left: .5rem;
            padding-right: .5rem; }
            @media (min-width: 768px) {
              body.keystone-crossroads .more-features .more-features-button a h2 {
                padding-left: 1rem;
                padding-right: 1rem; } }
          body.keystone-crossroads .more-features .more-features-button a:hover, body.keystone-crossroads .more-features .more-features-button a:active {
            color: #000; }
      @media (min-width: 768px) {
        body.keystone-crossroads .more-features {
          margin-bottom: 1.5rem; } }
    body.keystone-crossroads .category-highlights-wrapper {
      background-color: #afbe58;
      width: 100%; }
    body.keystone-crossroads .category-highlights {
      margin-top: 0;
      padding-top: 4rem;
      padding-bottom: 4rem; }
      body.keystone-crossroads .category-highlights .category-block {
        margin-top: 4rem; }
        body.keystone-crossroads .category-highlights .category-block:first-of-type {
          margin-top: 0; }
        body.keystone-crossroads .category-highlights .category-block .photo-box {
          width: 85%;
          text-align: center;
          margin: 0 auto;
          position: relative; }
          @media (min-width: 568px) {
            body.keystone-crossroads .category-highlights .category-block .photo-box {
              width: 60%; } }
          @media (min-width: 768px) {
            body.keystone-crossroads .category-highlights .category-block .photo-box {
              width: 85%; } }
          body.keystone-crossroads .category-highlights .category-block .photo-box img {
            border-radius: 50%;
            margin: 0 auto;
            box-shadow: 0 0 8px 8px black inset;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            -webkit-filter: brightness(0.3);
            filter: brightness(0.3); }
            body.keystone-crossroads .category-highlights .category-block .photo-box img:hover {
              -webkit-filter: grayscale(0.7);
              filter: grayscale(0.7);
              -webkit-filter: brightness(0.8);
              filter: brightness(0.8); }
          body.keystone-crossroads .category-highlights .category-block .photo-box:hover .text-box, body.keystone-crossroads .category-highlights .category-block .photo-box:active .text-box {
            display: none; }
          body.keystone-crossroads .category-highlights .category-block .photo-box .text-box {
            display: block;
            color: #fff;
            padding: .5rem;
            position: absolute;
            width: 100%;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
            body.keystone-crossroads .category-highlights .category-block .photo-box .text-box h2 {
              display: block;
              font-size: 2rem; }
        @media (min-width: 768px) {
          body.keystone-crossroads .category-highlights .category-block {
            margin-top: 0; } }
      @media (min-width: 768px) {
        body.keystone-crossroads .category-highlights {
          padding-top: 2rem;
          padding-bottom: 2rem; } }
    body.keystone-crossroads .newsletter-signup {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      text-align: center;
      color: #000; }
      body.keystone-crossroads .newsletter-signup h2 {
        margin-bottom: .5rem; }
      body.keystone-crossroads .newsletter-signup input[type=text] {
        width: 100%;
        margin: .5rem 0;
        padding-top: .5rem;
        padding-bottom: .5rem;
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000; }
      body.keystone-crossroads .newsletter-signup button {
        display: block;
        margin: .5rem auto;
        background-color: #9db838;
        -webkit-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
        width: 60%;
        padding-top: .5rem;
        padding-bottom: .5rem;
        color: #fff;
        border-radius: .25rem;
        -webkit-box-shadow: inset 9px 13px 52px 2px rgba(196, 194, 196, 0.49);
        -moz-box-shadow: inset 9px 13px 52px 2px rgba(196, 194, 196, 0.49);
        box-shadow: inset 9px 13px 52px 2px rgba(196, 194, 196, 0.49); }
        body.keystone-crossroads .newsletter-signup button:hover {
          background-color: #acc835; }
        body.keystone-crossroads .newsletter-signup button:active {
          transition: none;
          background-color: #b2d237; }
    body.keystone-crossroads .footer-info {
      margin-top: 0;
      margin-bottom: 2.5rem;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px; }
      body.keystone-crossroads .footer-info h2 {
        margin-bottom: 1rem; }
      body.keystone-crossroads .footer-info .kc-partner-stations {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        color: #000; }
        body.keystone-crossroads .footer-info .kc-partner-stations a {
          color: #000;
          margin-right: 2rem;
          line-height: 2rem; }
          body.keystone-crossroads .footer-info .kc-partner-stations a:last-of-type {
            margin-right: none; }
          body.keystone-crossroads .footer-info .kc-partner-stations a:hover, body.keystone-crossroads .footer-info .kc-partner-stations a:active {
            color: #9db838; }
            body.keystone-crossroads .footer-info .kc-partner-stations a:hover:hover, body.keystone-crossroads .footer-info .kc-partner-stations a:active:hover {
              color: #acc835; }
            body.keystone-crossroads .footer-info .kc-partner-stations a:hover:active, body.keystone-crossroads .footer-info .kc-partner-stations a:active:active {
              color: #b2d237; }
            body.keystone-crossroads .footer-info .kc-partner-stations a:hover a, body.keystone-crossroads .footer-info .kc-partner-stations a:active a {
              color: #9db838;
              -webkit-transition: color 0.15s ease-out;
              -moz-transition: color 0.15s ease-out;
              -o-transition: color 0.15s ease-out;
              transition: color 0.15s ease-out; }
              body.keystone-crossroads .footer-info .kc-partner-stations a:hover a:hover, body.keystone-crossroads .footer-info .kc-partner-stations a:active a:hover {
                color: #acc835; }
              body.keystone-crossroads .footer-info .kc-partner-stations a:hover a:active, body.keystone-crossroads .footer-info .kc-partner-stations a:active a:active {
                color: #b2d237; }
          @media (min-width: 768px) {
            body.keystone-crossroads .footer-info .kc-partner-stations a {
              line-height: 1rem; } }
        body.keystone-crossroads .footer-info .kc-partner-stations .partner-icons-left {
          padding-left: 0;
          padding-right: 0;
          text-align: center; }
          body.keystone-crossroads .footer-info .kc-partner-stations .partner-icons-left a {
            padding: 0; }
          @media (min-width: 768px) {
            body.keystone-crossroads .footer-info .kc-partner-stations .partner-icons-left {
              text-align: right; } }
        body.keystone-crossroads .footer-info .kc-partner-stations .partner-icons-right {
          margin-top: 2rem;
          text-align: center;
          padding-left: 0;
          padding-right: 0; }
          body.keystone-crossroads .footer-info .kc-partner-stations .partner-icons-right a {
            padding: 0; }
          @media (min-width: 768px) {
            body.keystone-crossroads .footer-info .kc-partner-stations .partner-icons-right {
              margin-top: 0;
              text-align: left; } }
      body.keystone-crossroads .footer-info .footer-logo {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        text-align: center; }
        body.keystone-crossroads .footer-info .footer-logo .kc-logo-footer {
          color: #000;
          width: 100%;
          text-align: center; }
          body.keystone-crossroads .footer-info .footer-logo .kc-logo-footer:hover, body.keystone-crossroads .footer-info .footer-logo .kc-logo-footer:active {
            color: #9db838; }
            body.keystone-crossroads .footer-info .footer-logo .kc-logo-footer:hover:hover, body.keystone-crossroads .footer-info .footer-logo .kc-logo-footer:active:hover {
              color: #acc835; }
            body.keystone-crossroads .footer-info .footer-logo .kc-logo-footer:hover:active, body.keystone-crossroads .footer-info .footer-logo .kc-logo-footer:active:active {
              color: #b2d237; }
            body.keystone-crossroads .footer-info .footer-logo .kc-logo-footer:hover a, body.keystone-crossroads .footer-info .footer-logo .kc-logo-footer:active a {
              color: #9db838;
              -webkit-transition: color 0.15s ease-out;
              -moz-transition: color 0.15s ease-out;
              -o-transition: color 0.15s ease-out;
              transition: color 0.15s ease-out; }
              body.keystone-crossroads .footer-info .footer-logo .kc-logo-footer:hover a:hover, body.keystone-crossroads .footer-info .footer-logo .kc-logo-footer:active a:hover {
                color: #acc835; }
              body.keystone-crossroads .footer-info .footer-logo .kc-logo-footer:hover a:active, body.keystone-crossroads .footer-info .footer-logo .kc-logo-footer:active a:active {
                color: #b2d237; }
      body.keystone-crossroads .footer-info .footer-text {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        color: #000; }
        body.keystone-crossroads .footer-info .footer-text p {
          margin-bottom: 1.5rem;
          text-align: center; }
          body.keystone-crossroads .footer-info .footer-text p:last-of-type {
            margin-bottom: none;
            font-weight: bold; }
      body.keystone-crossroads .footer-info .kc-team {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        color: #000; }
      body.keystone-crossroads .footer-info .kc-supported-by {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        color: #000; }
        body.keystone-crossroads .footer-info .kc-supported-by a {
          color: #000; }
          body.keystone-crossroads .footer-info .kc-supported-by a:hover {
            color: #9db838; }
            body.keystone-crossroads .footer-info .kc-supported-by a:hover:hover {
              color: #acc835; }
            body.keystone-crossroads .footer-info .kc-supported-by a:hover:active {
              color: #b2d237; }
            body.keystone-crossroads .footer-info .kc-supported-by a:hover a {
              color: #9db838;
              -webkit-transition: color 0.15s ease-out;
              -moz-transition: color 0.15s ease-out;
              -o-transition: color 0.15s ease-out;
              transition: color 0.15s ease-out; }
              body.keystone-crossroads .footer-info .kc-supported-by a:hover a:hover {
                color: #acc835; }
              body.keystone-crossroads .footer-info .kc-supported-by a:hover a:active {
                color: #b2d237; }

/*END BODY*/
